<section class="p-5">
  <div class="container">
    <div class="row g-4 bg-primary rounded">
      <h4>Single and global Output</h4>
      <div class="col-md-auto">
       <app-reactor-manager></app-reactor-manager>
      </div>
      <div class="col-md-auto bg-dark">
        <app-global-output-line-chart></app-global-output-line-chart>
      </div>
     

      <!-- <app-lambda-reactor></app-lambda-reactor> -->
    </div>
  </div>
</section>

<!-- Add flexbox manage two boxes with a flexbox  -->