<section class="p-5">
  <div class="container">
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <app-lambda-reactor></app-lambda-reactor>
        </div>
        <div class="col-md-6 col-lg-3">
            <app-steady-reactor></app-steady-reactor>
        </div>
        <div class="col-md-6 col-lg-3">
            <app-swift-reactor></app-swift-reactor>
        </div>

      <!-- <app-lambda-reactor></app-lambda-reactor> -->
      
    
    </div>
  </div>
</section>


