<section class="">
  <div class="container">
    <div class="row  ">
      
      <h4>Reactors</h4>

      <div class="col-md-6 col-lg-3 p-2">
        <div class="card bg-dark">
          <div class="card-body text-center">
            <app-lambda-reactor></app-lambda-reactor>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 p-2">
        <div class="card bg-dark">
          <div class="card-body text-center">
            <app-steady-reactor></app-steady-reactor>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 p-2">
        <div class="card bg-dark">
          <div class="card-body text-center">
            <app-swift-reactor></app-swift-reactor>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
