<div class="lambda-reactor">
  <h5 class="text-danger p-2 text-left">---- swift ----</h5>

  <p *ngIf="reactorStatus" class="text-light">reactor Status: <span class="text-success" >online</span></p>
  <p *ngIf="!reactorStatus" class="text-light">reactor Status: <span class="text-danger">offline</span></p>

  <p *ngIf="reactorStatus"  class="text-light">current output: <span  class="text-secondary" >{{ storeReactorState$ | async }}</span></p>
  <p *ngIf="!reactorStatus"  class="text-light">current output: <span class="text-secondary">{{ storeReactorState$ | async }}</span></p>

  <app-swift-reactor-chart></app-swift-reactor-chart>

  <div class="p-1 d-flex">
    <button class="btn-sm btn-dark btn-outline-success" (click)="startReactor()">start</button>
    <span>...</span>
    <button class="btn-sm btn-danger text-dark" (click)="killReactor()">shut down</button>
  </div>

 
</div>
  
