<div class="reactor-manager">
    <h3>reactor manager</h3>

    <p>swift reactor output <span>{{currentSwiftReactorState$ | async}}</span></p>

    <p>steady reactor output <span>{{currentSteadyReactorState$ | async}}</span></p>

    <p>lambda reactor output <span>{{currentLambdaReactorState$ | async}}</span></p>


    <p>global output <span>{{globalReactorState$ | async}}</span></p>

    <p class="col" *ngIf="globalReactorState === reactorState.LOW"> current global output <span>low</span></p>
    <p class="col" *ngIf="globalReactorState === reactorState.NORMAL"> normal</p>
    <p class="col" *ngIf="globalReactorState === reactorState.OVERHEATING"> overheating</p>
</div>




