<div class="reactor-manager text-white bg-dark p-3 rounded-left">
 

  
  
    <p class="text-warning">lambda output: <span class="text-secondary bg-dark">{{currentLambdaReactorState$ | async}}</span></p>

    <p class="text-info">steady output: <span class="text-secondary bg-dark">{{currentSteadyReactorState$ | async}}</span></p>
    
    <p class="text-danger">swift output: <span class="text-secondary bg-dark">{{currentSwiftReactorState$ | async}}</span></p>
    <br>

    <p>global output: <span class="text-success bg-dark">{{globalReactorState$ | async}}</span></p>

    
</div>




<!-- <p class="col" *ngIf="globalReactorState === reactorState.LOW"> current global output <span>low</span></p>
    <p class="col" *ngIf="globalReactorState === reactorState.NORMAL"> normal</p>
    <p class="col" *ngIf="globalReactorState === reactorState.OVERHEATING"> overheating</p> -->