<section class="p-5">
  <div class="container">
    <h4>State Managment using <span>@ngrx/component-store</span></h4>
    <p class="text-break text-light">
      State Managment can be tricky, especially if each component has its own
      state
      <br>
      The below example contains three reactor-components, each
      changes its state randomly on an given interval
      <br>
      Each State is managed via a Component Store
      <br> 
      The Reactor Manager Component is getting access to all States and displays the sum of all current States 
    </p>
  </div>
</section>
