$dark-light: #161A1E;
$grey: #D3DEDC;
$red: #FB3640;
$green: #15CE5A;
$orange: #F37A13;

$light-green: #B2EA70;

$blue: #9AD0EC;

$h-light: #eaebe8;


// Add custom variables ???
// $dark: $dark-light;
// $secondary: $grey;

$info: $blue;
$primary: $grey;
$light: $h-light;

$muted: $light-green;

$warning: $orange;
$danger : $red;
$success: $green;
